.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 5em;
  max-width: 65em;
}

.headings {
  width: 80%;
}

.headings h1 {
  color: var(--color-white);
  font-family: var(--primary-font);

  font-size: 3rem;
  text-align: center;
}

.headings > p {
  color: var(--color-blue);
  font-family: var(--secondary-font);

  font-size: 1.5rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .headings h1 {
    font-size: 2rem;
  }

  .headings > p {
    font-size: 1.2rem;
  }

  .headings {
    width: 100%;
  }
}
